.navbar {
    background-color: darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo {
    text-align: left;
}

.input_searchbar {
    height: 40px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}

.logo_pokedex {
    width: 300px;
    height: 50px;
}